<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>cic</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/index.js') }}" type="module"></script>
</head>
<body>

<p>robots</p>
<div class="robots-card">
  <form class="robots-form">
    <button data-action="start">start</button>
    <button data-action="stop">stop</button>
  </form>
  <pre><code></code></pre>
</div>

<!--<p>galaxy</p>-->
<!--<div class="galaxy-card">-->
<!--  <form class="galaxy-form">-->
<!--    <input type="text" name="endpoint" value="/galaxy"/>-->
<!--    <button data-action="read">get data</button>-->
<!--    <button data-action="clear">clear</button>-->
<!--  </form>-->
<!--  <pre><code></code></pre>-->
<!--</div>-->

</body>
</html>
